@model IEnumerable<CDM.Models.TransactionTB>

@{
    ViewBag.Title = "Transaction";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Transaction</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Total_Transaction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payement_Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Change)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Total_Transaction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payement_Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Change)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TransactionID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TransactionID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TransactionID })
        </td>
    </tr>
}

</table>
