@model List<CDM.Models.CustomDrink>
@{
    ViewBag.Title = "Custom Order Summary";
}

<style>
</style>

<main>
    <section>
        <h2>Custom Order Summary</h2>
        <p>Total Cost: @Model.Sum(d => d.TotalCost)</p>
    </section>
    <section>
        <p>Drinks:</p>
        <ul>
            @foreach (var drink in Model)
            {
                <li>
                    Base Drink: @drink.BaseDrink, Size: @drink.Size, Total Cost: @drink.TotalCost
                    <ul>
                        @foreach (var layer in drink.Layers)
                        {
                            <li>@layer.Shot - @layer.Percentage%</li>
                        }
                    </ul>
                </li>
            }
        </ul>
    </section>
    <section>
        <button typw="button" onclick="window.location='@Url.Action("MakeYourOwnDrink", "Home")'">Make Another Drink</button>
        <button typw="button" onclick="window.location='@Url.Action("CustomReceipt", "Home")'">Proceed to Receipt</button>
    </section>
</main>
