@model List<CDM.Models.CustomDrink>
@{
    ViewBag.Title = "Custom Order Summary";
}

<style>
    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: solid, 1px;
        border-radius: 15px;
        padding: 100px;
    }
</style>

<div class="center">
<h2>Custom Order Summary</h2>

<div>
    <p>Drinks:</p>
    <ul>
        @foreach (var drink in Model)
        {
            <li>
                Base Drink: @drink.BaseDrink, Size: @drink.Size, Total Cost: @drink.TotalCost
                <ul>
                    @foreach (var layer in drink.Layers)
                    {
                        <li>@layer.Shot - @layer.Percentage%</li>
                    }
                </ul>
            </li>
        }
    </ul>
    <p>Total Cost: @Model.Sum(d => d.TotalCost)</p>
</div>

<div>
    <button typw="button" onclick="window.location='@Url.Action("MakeYourOwnDrink", "Home")'">Make Another Drink</button>
    <button typw="button" onclick="window.location='@Url.Action("CustomReceipt", "Home")'">Proceed to Receipt</button>
</div>
</div>